body {
  background-color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
}
ul {
  padding-left: 0;
  padding-top: 10px;
}

li {
  font-size: 0.9em;
  list-style: circle;
  padding: 0;
  margin-bottom: 12px;
}
